
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'slick';
@import 'header';
@import 'footer';


body {
  background: $background_color;
  color: $font_color;
  font-family: $font_stack;
  font-size: 62.5%;
  font-weight: normal;
  width: 100vw;
}
