$logo_height: 50px;
$top_nav_height: 35px;
@media (min-width: $mobile_width) {}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background: white;
  left: 0;
  z-index: 100;
  @media (min-width: $mobile_width) {
    //    position: static;
  }

  nav {
    padding: 10px 0;
    display: flex;
    flex-wrap: nowrap;

    #branding {
      background: url("../images/ENSR-logo-new.jpg") no-repeat left center;
      background-size: contain;
      display: block;
      text-indent: -9999px;
      height: $logo_height;
      width: 100%;
      max-width: 250px;
      flex: 1 auto;

      &:focus {
        box-shadow: 0 0 0;
      }
      @media (min-width: $mobile_width) {
        width: 250px;
      }
    }

    ul {
      flex: 1 auto;
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 100%;
      height: 100vh;
      bottom: 0;
      background: $black;
      margin: 0;
      padding: 0;
      z-index: 100;
      transition: all 0.3s;
      transform: translateX(-300px);
      overflow-y: scroll;

      &.menu_visible {
        transform: translateX(0px);
      }
      @media (min-width: $mobile_width) {
        display: block;
        text-align: right;
        position: static;
        width: auto;
        background: none;
        height: auto;
        transform: translateX(0);
        overflow-y: visible;
      }

      li {
        display: block;
        position: relative;
        padding: 0;
        margin: 0;
        background: $black;
        font-size: #{$font_size * 0.9};

        &.menu-item-language-current {
          display: none;
        }
        @media (min-width: $mobile_width) {
          display: inline-block;
          background: none;
        }

        a {
          display: block;
          color: white;
          font-weight: bold;
          text-transform: uppercase;
          padding: 0 10px;
          line-height: $logo_height;
          border-top: 1px solid lighten($black, 5);
          border-bottom: 1px solid darken($black, 10);

          &:active,
          &:hover,
          &:link,
          &:visited {
            color: white;
          }

          &:hover {
            background: $blue;
          }
          @media (min-width: $mobile_width) {
            display: inline-block;
            color: $blue;
            border-top: 0;
            border-bottom: 2px solid transparent;

            &:active,
            &:link,
            &:visited {
              color: $blue;
            }

            &:hover {
              background: none;
              border-color: $blue;
            }
          }
        }
        //a
        ul.sub-menu {
          margin: 0;
          position: static;
          transform: none;
          width: 100%;
          flex: unset;
          height: auto;
          @media (min-width: $mobile_width) {
            position: absolute;
            right: 0;
            text-align: left;
            top: 40px;
            display: none;
            width: 200px;
          }

          li {
            font-size: 0.9em;
            padding-left: 10px;
            @media (min-width: $mobile_width) {
              display: block;
              padding-left: 0;
            }

            a {
              @media (min-width: $mobile_width) {
                display: block;
                padding: 10px 15px;
                line-height: initial;
                background: $black;
                color: white;
                border: 0;
                border-bottom: 1px solid lighten($black, 10);

                &:hover {
                  background: $blue;
                  color: white;
                }
              }
            }
            // a
          }
        }
        //.sub-menu
        &:hover {
          ul.sub-menu {
            display: block;
          }
        }
        // li:hover
      }
      // li
    }
  }
  // nav
}

#top_nav {
  background: $blue;
  margin: 0;
  padding: 0;
  height: $top_nav_height;
  overflow: hidden;


  .container {
    position: relative;
  }

  .social_search {
    position: absolute;
    right: 210px;
    top:0;
    width: 280px;
    z-index: 9999;
  }
  form {
    width: 150px;
    display: inline-block;
    ::placeholder {
        color: white!important;
      }

  }
  input {
    width:100%;
    padding: 5px;
    border-radius: 1px;
    height: #{$top_nav_height - 7px};
    background: transparentize(white , 0.85);
    border: 0;
    margin: 3px 0 0 ;
    color: darken($blue, 30);
  }

  ul.social_icons {
  display: inline-block;
  position: relative;
  top: -3px;
  }

  ul.top_nav_ul {
    text-align: right;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 -2px;
      padding: 0;
      position: relative;

      a {
        padding: 0 20px;
        line-height: $top_nav_height;
        margin: 0;
        color: white;
        display: inline-block;
        background: $light_blue;
      }

      &:first-child,
      &:last-child {
        &:after {
          // outline: 1px solid red;
          content: "";
          width: $top_nav_height;
          height: $top_nav_height;
          display: block;
          position: absolute;
          top: 0;
          transform: rotate(45deg);
          z-index: 2;
        }
      }

      &:first-child {
        a {
          padding-left: $top_nav_height;
        }

        &:after {
          left: #{($top_nav_height / -1.4)};
          background: $blue;
        }
      }

      &:last-child {
        a {
          padding-right: $top_nav_height;
        }

        &:after {
          right: #{($top_nav_height / -1.4)};
          background-color: $light_blue;
        }
      }
    }
  }
}
// #top_nav

#menu_button {
  display: inline-block;
  height: 34px;
  width: 42px;
  position: absolute;
  z-index: 1000;
  top: 19px;
  right: 11px;
  background: url("../images/menu.svg") no-repeat center;
  background-size: 30px;
  text-indent: -9999px;
  cursor: pointer;
  @media (min-width: $mobile_width) {
    display: none;
  }
}

body.lang_en {
  header {
    nav {
      #branding {
        background-image: url("../images/ENSR-logo-new.jpg");
      }
    }
  }
}
// DONT SHOW HEADER NAVIGATION ON THE LANDING PAGE

body.landing-page, body.landing-page-2, body.landing-page-3 {
  #top_nav,
  header {
    display: none !important;
  }
}


.lang_fr #top_nav .social_search {
right: 277px;
}

header .wpml-ls-menu-item .wpml-ls-flag {
  margin: 0;
}