h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
  font-family: $heading_font_stack;

  &.dropcap {
    &:first-letter {
      font-size: 175%;
      display: inline-block;
    }
  }
}

h1 {
  font-size: 2.3em;
  padding: 0 0 30px;
  @media (min-width: $mobile_width) {
    font-size: #{$font_size * 2.3};
  }
}

h2 {
  font-size: 2.3em;
  padding: 0 0 20px;
  font-style: italic;
  color: $blue;
  font-weight: bold;
  @media (min-width: $mobile_width) {
    font-size: #{$font_size * 1.8};
  }
}

h3 {
  font-size: #{$font_size * 1.5};
  padding: 0 0 10px;
  font-weight: bold;
}

h4 {
  font-size: #{$font_size * 1.2};
  padding: 0 0 10px;
  color: $blue;
}

.for_screen_readers {
  visibility: hidden;
  height: 0;
  display: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0 0 30px;
  font-size: $font_size;
  line-height: 160%;
  letter-spacing: -0.2px;
}

li {
  font-size: $font_size;
  padding: 0 0 5px;
  line-height: 160%;
}

b,
strong {
  font-family: $heading_font_stack;
}

em,
i {
  font-style: italic;
}

a {
  transition: all 0.3s;

  &:active,
  &:hover,
  &:link,
  &:visited {
    color: $blue;
    text-decoration: none;
  }

  &:hover {}

  &:focus {
    box-shadow: 0 0 5px transparentize($blue,0.5);
    outline: 0;
  }
}

table {
  width: 100%;
  margin: 0 0 40px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

td,
th {
  font-size: $font_size;
  padding: 14px 10px;
  border: 0;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  text-align: left;

  li,
  p {
    font-size: inherit;
  }
}

th {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 0;
  background: $blue;
  color: white;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

blockquote {
  padding: 20px 0 20px 40px;
  border-left: 4px solid #888;
  margin: 40px 20px 40px 40px;
  font-size: 140%;
  font-style: italic;
  max-width: 700px;
}

blockquote p:last-child {
  padding-bottom: 0;
}

a h6,
a.button,
h6 a {
  display: inline-block;
  padding:15px 30px 10px;
  line-height:130%;
  background: $blue;
  color: white;
  font-weight: bold;
  font-size: $font_size;
  text-transform: uppercase;
  font-family: $heading_font_stack;
  text-decoration: none;

  &:active,
  &:hover,
  &:link,
  &:visited {
    color: white;
  }

  &:hover {
    transform: scale(1.05);
    background-color: $dark_blue;
  }

  &.margin_top {
    margin-top: 20px;
  }

  &.margin_bottom {
    margin-bottom: 20px;
  }
}

form {
  button,
  input,
  select,
  textarea {
    padding: 10px;
    border-radius: 2px;
    font-family: $font_stack;
    font-size: $font_size;
    margin: 0 0 10px;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 3px 0 0 transparent inset;
    transition: all 0.3s;

    &:focus {}
  }

  p {
    label {
      font-size: 1em;
    }
  }

  label {
    display: block;
    font-size: $font-size;
    font-weight: bold;
    padding: 0 0 5px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: auto;
  }

  input[type="submit"],
  button {
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    background: $blue;
    color: white;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;

    &:hover {
      background-color: darken($blue, 10);
    }
  }

  .form_field {
    margin: 0 0 25px;

    &.field_error {
      label {
        color: $red;
      }

      input,
      select,
      textarea {
        border: 1px solid $red;
      }
    }
  }
}

img {width: 100%; height: auto;box-shadow: 0 0 30px rgba(0,0,0,0.5);}
